$color-brand:#2196f3;
$color-primary: #212121;
$color-secondary: #757575;
$color-white: #fff;
$color-black: #000;
$color-gray-bg: #2f303a;
$color-bg-team: #f5f4fa;
$color-footer-link: rgba(255, 255, 255, 0.6);
$color-border: #eee;
$color-header-bottom-border: #ececec;
$color-button-active: #188ce8;
$color-hero-bg: #c4c4c4;
$color-social-icon: #afb1b8;
$main-font-family:'Roboto';
$logo-font-family:'Raleway';
$mobile:480px;
$tablet:768px;
$desktop:1200px;